/docs/
/lib/
/bin/
/.shards/
*.dwarf
.vscode/

# web, which will probably become a separate project later
/web/node_modules
/public/dist
# generated automatically
/public/index.html

# still a wip, not public
src/visual/
visual.json
imgui.ini
iosevka*.ttf
visual.shard.yml

# personalized, these will be generated in a better way later
permits.json
registries.json
blocks.json
1.17.1.json

.env.yaml
