@keyframes condemned_blink_effect {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
body {
  background-color: #150c29;
  color: white;
  font-family: monospace;
  font-size: 1rem;
}
input { font-size: 1rem; }
blink { animation: 500ms linear alternate infinite condemned_blink_effect; }
#chatInput { flex: 1; }
#chatBox p { margin: 0; }
h1 { font-size: 2.2rem; }
h2 { font-size: 1.8rem; }
h1, h2, h3, .err {
  text-align: center;
  margin-top: 1px;
  margin-bottom: 0.4em;
}
.err {
  color: #ff6a6a;
  font-weight: bold;
}
#chatLine {
  margin: 1em;
  display: flex;
}
#chatBox {
  margin-left: 1em;
  margin-right: 1em;
  height: 60vh;
  overflow: scroll;
}
#controlBox {
  bottom: 0;
  left: 0;
  width: 100vw;
  position: absolute;
  border-top: white 1px solid;
  white-space: pre-wrap;
  background-color: black;
}
@media (max-width: 800px) {
  #chatBox {
    height: 75vh;
  }
}
#spinner {
  display: flex;
  margin-bottom: 1em;
}
#spinner::after {
  content: "";
  width: 80px;
  height: 80px;
  border: 8px solid #f3f3f3;
  border-top: 8px solid #ce21c8;
  border-radius: 100%;
  will-change: transform;
  animation: spin 1s infinite linear
}
.flex { display: flex; }
.autom { margin: auto; }
.mb { justify-content: center; }
.mb-column { align-items: center; }
.sp { margin-bottom: 1em; }
.spr { margin-right: 1em; }
.spl { margin-left: 1em; }
.inline-flex { display: inline-flex; }
.vmid { vertical-align: middle; }
.server-list { height: 64px; }
.flex-column { flex-direction: column; }
